<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light text-light" id="backdrop">
  <div class="col-md-5 p-lg-5 mx-auto my-5 opaque-black">
    <h1 class="display-4 font-weight-superlight"><%= @user.full_name %></h1>
    <img src="<%=@user.image_url%>" class="rounded-circle mx-auto d-block" alt="...">
    <p class="lead font-weight-normal"><%=@user.description%></p>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Investment Requests</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Current Funding</h2>
      <div class="text-center">
        $10,000 Total
      </div>
    </div>


    
    <div class="bg-dark box-shadow mx-auto text-white" style="padding: 20px; width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <h5>Funding Activity</h5>
      <hr color="white">
      <i>Recieved $10.00 from <u>Frank Williams</u> on 10/21</i>
      <hr color="white">
      <i>Recieved $10.00 from <u>Frank Williams</u></i>
      <hr color="white">
      <i>Recieved $10.00 from <u>Frank Williams</u></i>
      <hr color="white">
    </div>
  </div>
</div>